name: Gatsby Deploy

on:
  push:
    branches: main

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Config
        run: |
          git config --global user.email "svuu.se@gmail.com"
          git config --global user.name "svuuse"
          git config --global user.password "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"
          git config --global url.https://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@github.com/.insteadOf https://github.com/
      - name: Set up Python2.7
        uses: actions/setup-python@v4
        id: setup-python2
        with:
          python-version: 2.7
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          npm install --legacy-peer-deps
      - name: Deploy
        run: npm run deploy:ci