name: Gatsby Deploy

on:
  push:
    branches: main

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Config
        run: |
          git config --global user.email "svuu.se@gmail.com"
          git config --global user.name "svuuse"
      - name: Set up Python2.7
        uses: actions/setup-python@v4
        id: setup-python2
        with:
          python-version: 2.7
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set env
        run: echo "NODE_OPTIONS=--openssl-legacy-provider" >> $GITHUB_ENV
      - name: Install dependencies
        run: |
          npm install --legacy-peer-deps
      - name: Deploy
        run: |
	  npm run deploy:ci